.loader{
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 240px;
  height: 240px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  &__part{
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    transform: translateZ(0);
    animation: loader 1.1s infinite linear;
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}